.container1{
    /* background-image: url('../images/bpaikari.PNG') ;
    background-size: cover;
    width: 105%;
    height: 700px; */
}

.coming-soon{
    padding-left: 100px;
    text-align: center;
    font-size: 60px;
}
.coming-soon1{
    text-align: center;
    padding-left: 100px;
    font-size: 60px;
}

.cover-image{
    width: 80%;
    height: 50%;
    margin-left: 100px;
}