.container1{
    background-image: url('../bpaikari.png') ;
    background-size: cover;
    width: 105%;
    height: 700px;
}

.coming-soon{
    text-align: center;
    padding-top: 37%;
    font-size: 60px;
}
.coming-soon1{
    text-align: center;
    
    font-size: 60px;
}